* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "Roboto", sans-serif;
}

.padding-section {
  margin-top: 2rem;
}

.t-container {
  width: 1100px;
  margin: 0 auto;
}

@media only screen and (max-width: 1200px) {
  .t-container {
    width: 940px;
  }
}

@media only screen and (max-width: 991px) {
  .t-container {
    width: 710px;
  }
}

@media only screen and (max-width: 767px) {
  .t-container {
    width: 480px;
  }
}

@media only screen and (max-width: 575px) {
  .t-container {
    width: 450px;
  }
}

@media only screen and (max-width: 480px) {
  .t-container {
    width: 380px;
  }
}

@media only screen and (max-width: 425px) {
  .t-container {
    width: 320px;
  }
}

.t-container-md {
  width: 990px;
  margin: 0 auto;
}

@media only screen and (max-width: 1200px) {
  .t-container-md {
    width: 800px;
  }
}

@media only screen and (max-width: 991px) {
  .t-container-md {
    width: 710px;
  }
}

@media only screen and (max-width: 767px) {
  .t-container-md {
    width: 480px;
  }
}

@media only screen and (max-width: 575px) {
  .t-container-md {
    width: 450px;
  }
}

@media only screen and (max-width: 480px) {
  .t-container-md {
    width: 380px;
  }
}

@media only screen and (max-width: 425px) {
  .t-container-md {
    width: 320px;
  }
}

.custom-text-orange {
  color: #ff6f24;
}

.custom-text-white {
  color: #fff;
}

.upper-case {
  text-transform: uppercase;
}

.slick-prev {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 0;
  background-color: rgba(0, 0, 0, 0.493);
  color: white;
  content: unset;
  font-size: 30px;
  padding: 20px 20px;
  border: unset;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  cursor: pointer;
}

@media only screen and (max-width: 991px) {
  .slick-prev {
    visibility: hidden;
  }
}

.slick-next {
  position: absolute;
  z-index: 2;
  top: 50%;
  right: 0;
  background-color: rgba(0, 0, 0, 0.493);
  color: white;
  font-size: 30px;
  padding: 20px 20px;
  border: unset;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  cursor: pointer;
}

@media only screen and (max-width: 991px) {
  .slick-next {
    visibility: hidden;
  }
}

.slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 81%;
  width: 0px;
  gap: 0 15px;
}

.slick-dots button {
  font-size: 0;
  width: 0.7rem;
  height: 0.7rem;
  border-radius: 50%;
  border: 1px solid #fff;
  background-color: black;
}

@media only screen and (max-width: 1200px) {
  .slick-dots {
    top: 72%;
  }
}

@media only screen and (max-width: 991px) {
  .slick-dots {
    top: 90%;
  }
}

@media only screen and (max-width: 767px) {
  .slick-dots {
    top: 88%;
  }
}

.banner {
  width: 100%;
  position: relative;
}

.banner-items {
  width: 100%;
}

.banner-items .banner-images img {
  width: 100%;
}

.banner-items .banner-images img:active {
  cursor: -webkit-grab;
  cursor: grab;
}

.banner-items .slick-active button {
  background-color: #fff;
}

.banner-nav {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 1100px;
  top: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0 0;
}

.banner-nav .toggle-icon {
  display: none;
  color: white;
}

.banner-nav .nav-image {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.banner-nav .nav-image img {
  width: 93%;
}

.banner-nav .nav-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 75%;
}

.banner-nav .nav-items li {
  margin-left: 1.2rem;
}

.banner-nav .nav-items li a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: 600;
  letter-spacing: 1px;
  color: #fff;
}

.banner-nav .nav-items li a:hover {
  color: #ff6f24;
}

.banner-nav .nav-items li a .active {
  border-bottom: 2px solid #ff6f24;
  padding-top: 0.25rem;
}

@media only screen and (max-width: 991px) {
  .banner-nav .nav-items li a .active {
    border: 0;
  }
}

.banner-nav .nav-items li:first-child {
  display: none;
}

@media only screen and (max-width: 1200px) {
  .banner-nav {
    width: 940px;
  }
}

@media only screen and (max-width: 991px) {
  .banner-nav {
    background-color: black;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 25px;
    padding-bottom: 25px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
    z-index: 5;
  }
  .banner-nav .nav-image {
    width: 15rem;
  }
  .banner-nav .nav-items {
    display: inline-block;
    position: fixed;
    left: -100%;
    top: 0;
    background-color: #f3f3f3;
    height: 100rem;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }
  .banner-nav .nav-items li {
    border-bottom: 1px solid rgba(128, 128, 128, 0.267);
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
  }
  .banner-nav .nav-items li a {
    color: black;
    width: 100%;
  }
  .banner-nav .nav-items li:first-child {
    display: block;
    font-weight: bolder;
    text-align: center;
    margin-left: 0;
  }
  .banner-nav .toggle-icon {
    display: block;
    position: absolute;
    left: 25px;
    font-size: 1.5rem;
    cursor: pointer;
  }
  .banner-nav .close-toggle {
    float: right;
    margin-right: 2rem;
    -webkit-transform: translateY(-5%) rotate(45deg);
            transform: translateY(-5%) rotate(45deg);
    cursor: pointer;
  }
}

.banner-select-form {
  margin-top: -8rem;
  width: 100%;
  position: relative;
  padding-bottom: 6rem;
}

.banner-select-form form {
  background-color: #fff;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.banner-select-form .box-select {
  width: 33.33333333%;
  padding: 7px;
  padding-left: 20px;
}

.banner-select-form .box-select:last-child {
  padding: 0px;
  padding-left: 20px;
}

.banner-select-form .box-select select {
  border: 0;
  color: black;
  font-weight: bolder;
  width: 100%;
  margin-top: 0.5rem;
  display: block;
  font-size: 15px;
}

.banner-select-form .box-select select:focus {
  outline: none;
}

.banner-select-form .box-select label {
  color: #5191fa;
  font-weight: bolder;
  padding-left: 2px;
}

.banner-select-form .box-select button {
  width: 100%;
  height: 100%;
  padding: 0;
  background-color: #ff6f24;
  color: #fff;
  font-size: 15px;
  font-weight: bolder;
  letter-spacing: 3px;
  cursor: pointer;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  border: 0;
}

@media only screen and (max-width: 1200px) {
  .banner-select-form {
    margin-top: -8rem;
  }
}

@media only screen and (max-width: 991px) {
  .banner-select-form {
    margin-top: 0;
    padding-bottom: 2rem;
  }
  .banner-select-form form {
    display: block;
  }
  .banner-select-form .box-select {
    padding-left: 0;
    border-bottom: 0.5px solid rgba(128, 128, 128, 0.534);
    width: 100%;
  }
  .banner-select-form .box-select:last-child {
    padding-left: 0;
    border-bottom: unset;
    margin-top: 0.5rem;
    height: 2rem;
    border-bottom-left-radius: 10px;
  }
}

.section-content {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 33% 33% 33%;
      grid-template-columns: 33% 33% 33%;
  padding-bottom: 120px;
}

@media only screen and (max-width: 991px) {
  .section-content {
    display: block;
    padding-bottom: 50px;
  }
}

.section-content-text {
  width: 100%;
}

.section-content-text p {
  font-weight: bolder;
  font-size: 3.2rem;
}

@media only screen and (max-width: 991px) {
  .section-content-text p {
    font-size: 2rem;
  }
}

.section-content-box {
  width: 100%;
  margin-top: -3rem;
  position: relative;
  height: 100%;
  z-index: 2;
  padding-left: 1rem;
}

.section-content-box .title {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 30px 50px 75px;
}

.section-content-box .title b {
  font-size: 25px;
  font-weight: bolder;
}

.section-content-box .title p {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-weight: bolder;
}

.section-content-box .title a {
  font-weight: bolder;
}

.section-content-box .title .box-img {
  z-index: 3;
  position: absolute;
  bottom: -9rem;
  height: 9.5rem;
  right: 15px;
}

.section-content-box .title .box-img img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}

@media only screen and (max-width: 991px) {
  .section-content-box .title .box-img {
    top: 0;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 17rem;
  }
}

@media only screen and (max-width: 767px) {
  .section-content-box .title .box-img {
    display: none;
  }
}

.section-content-box .buy {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 111, 36, 0.8)), to(rgba(255, 111, 36, 0.8))), url("../images/buy.jpeg");
  background-image: linear-gradient(0deg, rgba(255, 111, 36, 0.8), rgba(255, 111, 36, 0.8)), url("../images/buy.jpeg");
}

.section-content-box .buy a {
  color: black;
}

.section-content-box .sell {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(35, 36, 37, 0.8)), to(rgba(35, 36, 37, 0.8))), url("../images/sell.jpeg");
  background-image: linear-gradient(0deg, rgba(35, 36, 37, 0.8), rgba(35, 36, 37, 0.8)), url("../images/sell.jpeg");
}

.section-content-box .sell p {
  color: white;
}

.section-content-box .sell a {
  color: white;
}

@media only screen and (max-width: 991px) {
  .section-content-box {
    margin-top: 0;
    padding-left: 0;
  }
}

.section-product {
  width: 100%;
}

.section-product .title {
  text-align: center;
  font-weight: bolder;
  font-size: 2.2rem;
}

@media only screen and (max-width: 767px) {
  .section-product .title {
    font-size: 1.4rem;
  }
}

.section-product button {
  margin: 0 auto;
  display: block;
  padding: 15px 50px;
  border-radius: 10px;
  border: 0;
  background-color: #ff6f24;
  color: white;
  font-weight: bolder;
  letter-spacing: 2px;
  cursor: pointer;
}

.section-product-list {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  height: 100%;
  grid-gap: 30px;
}

@media only screen and (max-width: 1200px) {
  .section-product-list {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 991px) {
  .section-product-list {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 767px) {
  .section-product-list {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}

.section-product-list .product-item {
  border: 1px solid rgba(128, 128, 128, 0.219);
  border-top: 0;
}

.section-product-list .product-item img {
  width: 100%;
}

.section-product-list .product-item .body {
  padding: 10px 15px;
}

.section-product-list .product-item .body b {
  font-weight: bolder;
  font-size: 1.2rem;
}

.section-product-list .product-item .body p {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.section-product-list .product-item .body p b {
  font-size: 0.8rem;
  font-weight: bolder;
}

.section-product-list .product-item .body p small {
  font-weight: bolder;
  font-size: 0.7rem;
  color: gray;
}

.section-product-list .product-item .body .space {
  border: 0;
  border-top: 1px solid #eee;
}

.section-product-list .product-item .body .property {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  margin-top: 1rem;
}

.section-product-list .product-item .body .property span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.8rem;
}

.section-product-list .product-item .body .property span img {
  width: 1.3rem;
  padding-right: 0.5rem;
}

.section-service {
  width: 100%;
  margin-top: 4rem;
}

.section-service .title {
  text-align: center;
  font-weight: bolder;
  font-size: 2.2rem;
  text-transform: uppercase;
}

@media only screen and (max-width: 767px) {
  .section-service .title {
    font-size: 1.4rem;
  }
}

.section-service-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media only screen and (max-width: 991px) {
  .section-service-box {
    -webkit-box-align: unset;
        -ms-flex-align: unset;
            align-items: unset;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
  }
}

@media only screen and (max-width: 767px) {
  .section-service-box {
    display: block;
  }
}

.section-service-box .service-about {
  width: 33%;
  margin-right: 1.5rem;
}

@media only screen and (max-width: 991px) {
  .section-service-box .service-about {
    width: 50%;
  }
}

@media only screen and (max-width: 767px) {
  .section-service-box .service-about {
    width: 100%;
  }
}

.section-service-box .service-about span {
  font-size: 1.6rem;
  font-weight: bolder;
}

@media only screen and (max-width: 991px) {
  .section-service-box .service-about span {
    font-size: 1.1rem;
    line-height: 1.5;
  }
}

.section-service-box .service-about p {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 0.9rem;
  line-height: 1.5;
}

.section-service-box .service-about a {
  text-decoration: none;
  color: black;
  border-bottom: 2px solid #ff6f24;
}

.section-service-box .service-image {
  width: 50%;
  padding-left: 15px;
}

@media only screen and (max-width: 991px) {
  .section-service-box .service-image {
    padding-right: 1px;
  }
}

@media only screen and (max-width: 767px) {
  .section-service-box .service-image {
    width: 100%;
    padding-left: 0;
  }
}

.section-service-box .service-image img {
  width: 100%;
}

@media only screen and (max-width: 991px) {
  .section-service-box .service-image img {
    padding-right: 0;
  }
}

@media only screen and (max-width: 767px) {
  .section-service-box .service-image img {
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */