* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "Roboto", sans-serif;
}

.padding-section {
  margin-top: 2rem;
}

.t-container {
  width: 1150px;
  margin: 0 auto;
}

@media only screen and (max-width: 1200px) {
  .t-container {
    width: 940px;
  }
}

@media only screen and (max-width: 991px) {
  .t-container {
    width: 710px;
  }
}

@media only screen and (max-width: 767px) {
  .t-container {
    width: 480px;
  }
}

@media only screen and (max-width: 575px) {
  .t-container {
    width: 450px;
  }
}

@media only screen and (max-width: 480px) {
  .t-container {
    width: 380px;
  }
}

@media only screen and (max-width: 425px) {
  .t-container {
    width: 320px;
  }
}

.t-container-md {
  width: 990px;
  margin: 0 auto;
}

@media only screen and (max-width: 1200px) {
  .t-container-md {
    width: 800px;
  }
}

@media only screen and (max-width: 991px) {
  .t-container-md {
    width: 710px;
  }
}

@media only screen and (max-width: 767px) {
  .t-container-md {
    width: 480px;
  }
}

@media only screen and (max-width: 575px) {
  .t-container-md {
    width: 450px;
  }
}

@media only screen and (max-width: 480px) {
  .t-container-md {
    width: 380px;
  }
}

@media only screen and (max-width: 425px) {
  .t-container-md {
    width: 320px;
  }
}

.custom-text-orange {
  color: #ff6f24;
}

.custom-text-white {
  color: #fff;
}

.upper-case {
  text-transform: uppercase;
}

.slick-prev {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 0;
  background-color: rgba(0, 0, 0, 0.493);
  color: white;
  border: unset;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  cursor: pointer;
  padding: 10px 20px;
}

@media only screen and (max-width: 991px) {
  .slick-prev {
    visibility: hidden;
  }
}

.slick-next {
  position: absolute;
  z-index: 2;
  top: 50%;
  right: 0;
  background-color: rgba(0, 0, 0, 0.493);
  color: white;
  border: unset;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  cursor: pointer;
  padding: 10px 20px;
}

@media only screen and (max-width: 991px) {
  .slick-next {
    visibility: hidden;
  }
}

.banner {
  width: 100%;
  position: relative;
}

.banner-items {
  width: 100%;
}

.banner-items .banner-images img {
  width: 100%;
}

.banner-items .banner-images img:active {
  cursor: -webkit-grab;
  cursor: grab;
}

.banner-items .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  width: 0px;
  gap: 0 15px;
  bottom: 140px;
}

.banner-items .slick-dots button {
  font-size: 0;
  width: 0.7rem;
  height: 0.7rem;
  border-radius: 50%;
  border: 1px solid #fff;
  background-color: black;
}

.banner-items .slick-dots .slick-active button {
  background-color: #fff;
}

@media only screen and (max-width: 1200px) {
  .banner-items .slick-dots {
    top: 72%;
  }
}

@media only screen and (max-width: 991px) {
  .banner-items .slick-dots {
    top: 90%;
  }
}

@media only screen and (max-width: 767px) {
  .banner-items .slick-dots {
    top: 88%;
  }
}

.banner-nav {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 1150px;
  top: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0 0;
}

.banner-nav .toggle-icon {
  display: none;
  color: white;
}

.banner-nav .nav-image {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.banner-nav .nav-image img {
  width: 93%;
}

.banner-nav .nav-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 75%;
}

.banner-nav .nav-items li {
  margin-left: 1.3rem;
}

.banner-nav .nav-items li a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: lighter;
  letter-spacing: 1.1px;
  color: #fff;
}

.banner-nav .nav-items li a:hover {
  color: #ff6f24;
}

.banner-nav .nav-items li a .active {
  border-bottom: 2px solid #ff6f24;
  padding-top: 0.25rem;
}

@media only screen and (max-width: 991px) {
  .banner-nav .nav-items li a .active {
    border: 0;
  }
}

@media only screen and (max-width: 1200px) {
  .banner-nav .nav-items li {
    margin-left: 1rem;
  }
}

.banner-nav .nav-items li:first-child {
  display: none;
}

@media only screen and (max-width: 1200px) {
  .banner-nav {
    width: 940px;
  }
}

@media only screen and (max-width: 991px) {
  .banner-nav {
    background-color: black;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 25px;
    padding-bottom: 25px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
    z-index: 5;
  }
  .banner-nav .nav-image {
    width: 15rem;
  }
  .banner-nav .nav-items {
    display: inline-block;
    position: fixed;
    left: -100%;
    top: 0;
    background-color: #f3f3f3;
    height: 100rem;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }
  .banner-nav .nav-items li {
    border-bottom: 1px solid rgba(128, 128, 128, 0.267);
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
  }
  .banner-nav .nav-items li a {
    color: black;
    width: 100%;
  }
  .banner-nav .nav-items li:first-child {
    display: block;
    font-weight: bolder;
    text-align: center;
    margin-left: 0;
  }
  .banner-nav .toggle-icon {
    display: block;
    position: absolute;
    left: 25px;
    font-size: 1.5rem;
    cursor: pointer;
  }
  .banner-nav .close-toggle {
    float: right;
    margin-right: 2rem;
    -webkit-transform: translateY(-5%) rotate(45deg);
            transform: translateY(-5%) rotate(45deg);
    cursor: pointer;
  }
}

.banner-select-form {
  margin-top: -8rem;
  width: 100%;
  position: relative;
  padding-bottom: 6rem;
}

.banner-select-form form {
  background-color: #fff;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.banner-select-form .box-select {
  width: 33.33333333%;
  padding: 7px;
  padding-left: 20px;
}

.banner-select-form .box-select:last-child {
  padding: 0px;
  padding-left: 20px;
}

.banner-select-form .box-select option {
  height: 10px;
}

.banner-select-form .box-select select {
  border: 0;
  color: black;
  font-weight: bolder;
  width: 100%;
  margin-top: 0.5rem;
  display: block;
  font-size: 15px;
}

.banner-select-form .box-select select:focus {
  outline: none;
}

.banner-select-form .box-select label {
  color: #5191fa;
  font-weight: bolder;
  padding-left: 2px;
}

.banner-select-form .box-select button {
  width: 100%;
  height: 100%;
  padding: 0;
  background-color: #ff6f24;
  color: #fff;
  font-size: 15px;
  font-weight: bolder;
  letter-spacing: 3px;
  cursor: pointer;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  border: 0;
}

@media only screen and (max-width: 1440px) {
  .banner-select-form {
    margin-top: -8rem;
    padding-bottom: 6rem;
  }
}

@media only screen and (max-width: 1200px) {
  .banner-select-form {
    margin-top: -8rem;
  }
}

@media only screen and (max-width: 991px) {
  .banner-select-form {
    margin-top: 0;
    padding-bottom: 2rem;
  }
  .banner-select-form form {
    display: block;
  }
  .banner-select-form .box-select {
    padding-left: 0;
    border-bottom: 0.5px solid rgba(128, 128, 128, 0.534);
    width: 100%;
  }
  .banner-select-form .box-select:last-child {
    padding-left: 0;
    border-bottom: unset;
    margin-top: 0.5rem;
    height: 2rem;
    border-bottom-left-radius: 10px;
  }
}

.section-content {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 33% 33% 33%;
      grid-template-columns: 33% 33% 33%;
  padding-bottom: 120px;
}

@media only screen and (max-width: 991px) {
  .section-content {
    display: block;
    padding-bottom: 50px;
  }
}

.section-content-text {
  width: 100%;
}

.section-content-text p {
  font-weight: bolder;
  font-size: 3.2rem;
}

@media only screen and (max-width: 991px) {
  .section-content-text p {
    font-size: 2rem;
    line-height: 65px;
  }
}

.section-content-box {
  width: 100%;
  margin-top: -3rem;
  position: relative;
  height: 100%;
  z-index: 2;
  padding-left: 1rem;
}

.section-content-box .title {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 30px 50px 75px;
}

@media only screen and (max-width: 767px) {
  .section-content-box .title {
    padding: 30px 15px 30px;
  }
}

.section-content-box .title b {
  font-size: 25px;
  font-weight: bolder;
}

@media only screen and (max-width: 767px) {
  .section-content-box .title b {
    font-size: 20px;
  }
}

.section-content-box .title p {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-weight: bolder;
}

@media only screen and (max-width: 767px) {
  .section-content-box .title p {
    font-weight: unset;
  }
}

.section-content-box .title a {
  font-weight: bolder;
}

@media only screen and (max-width: 767px) {
  .section-content-box .title a {
    font-weight: unset;
  }
}

.section-content-box .title .box-img {
  z-index: 3;
  position: absolute;
  bottom: -9rem;
  height: 9.5rem;
  right: 15px;
}

.section-content-box .title .box-img img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}

@media only screen and (max-width: 991px) {
  .section-content-box .title .box-img {
    top: 0;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 17rem;
  }
}

@media only screen and (max-width: 767px) {
  .section-content-box .title .box-img {
    display: none;
  }
}

.section-content-box .buy {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 111, 36, 0.8)), to(rgba(255, 111, 36, 0.8))), url("../images/buy.jpeg");
  background-image: linear-gradient(0deg, rgba(255, 111, 36, 0.8), rgba(255, 111, 36, 0.8)), url("../images/buy.jpeg");
}

.section-content-box .buy a {
  color: black;
}

.section-content-box .sell {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(35, 36, 37, 0.8)), to(rgba(35, 36, 37, 0.8))), url("../images/sell.jpeg");
  background-image: linear-gradient(0deg, rgba(35, 36, 37, 0.8), rgba(35, 36, 37, 0.8)), url("../images/sell.jpeg");
}

.section-content-box .sell p {
  color: white;
}

.section-content-box .sell a {
  color: white;
}

@media only screen and (max-width: 991px) {
  .section-content-box {
    margin-top: 0;
    padding-left: 0;
  }
}

.section-product {
  width: 100%;
  margin-top: 3rem;
}

.section-product button {
  margin: 0 auto;
  display: block;
  padding: 15px 50px;
  border-radius: 10px;
  border: 0;
  background-color: #ff6f24;
  color: white;
  font-weight: bolder;
  letter-spacing: 2px;
  cursor: pointer;
}

.section-product-list {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  height: 100%;
  grid-gap: 30px;
}

@media only screen and (max-width: 1200px) {
  .section-product-list {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 991px) {
  .section-product-list {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 767px) {
  .section-product-list {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}

.section-product-list .product-item {
  border: 1px solid rgba(128, 128, 128, 0.219);
  border-top: 0;
}

.section-product-list .product-item img {
  width: 100%;
}

.section-product-list .product-item .body {
  padding: 10px 15px;
}

.section-product-list .product-item .body b {
  font-weight: bolder;
  font-size: 1.2rem;
}

.section-product-list .product-item .body p {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.section-product-list .product-item .body p b {
  font-size: 0.8rem;
  font-weight: bolder;
}

.section-product-list .product-item .body p small {
  font-weight: bolder;
  font-size: 0.7rem;
  color: gray;
}

.section-product-list .product-item .body .space {
  border: 0;
  border-top: 1px solid #eee;
}

.section-product-list .product-item .body .property {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  margin-top: 1rem;
}

.section-product-list .product-item .body .property-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.8rem;
}

.section-product-list .product-item .body .property-item img {
  width: 1.3rem;
  padding-right: 0.5rem;
}

.section-service {
  width: 100%;
  margin-top: 7rem;
}

.section-service .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  width: 0px;
}

@media only screen and (max-width: 767px) {
  .section-service .slick-dots {
    margin-top: 0.5rem;
  }
}

.section-service .slick-dots li {
  background-color: gray;
  padding: 5px 10px 5px;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-service .slick-dots button {
  font-size: 0;
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  border: 1px solid #fff;
  background-color: gray;
}

.section-service .slick-dots .slick-active button {
  background-color: #fff;
}

@media only screen and (max-width: 767px) {
  .section-service {
    margin-top: 4rem;
  }
}

.section-service .slick-prev {
  margin-left: 2.5rem;
}

.section-service .slick-button {
  border-radius: unset;
}

.section-service-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media only screen and (max-width: 1200px) {
  .section-service-box {
    -webkit-box-align: unset;
        -ms-flex-align: unset;
            align-items: unset;
  }
}

@media only screen and (max-width: 991px) {
  .section-service-box {
    -webkit-box-align: unset;
        -ms-flex-align: unset;
            align-items: unset;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
  }
}

@media only screen and (max-width: 767px) {
  .section-service-box {
    display: block;
  }
}

.section-service-box .service-about {
  width: 33%;
  margin-right: 1.5rem;
}

@media only screen and (max-width: 1200px) {
  .section-service-box .service-about {
    margin-top: 3rem;
  }
}

@media only screen and (max-width: 991px) {
  .section-service-box .service-about {
    width: 50%;
    margin-top: 0;
  }
}

@media only screen and (max-width: 767px) {
  .section-service-box .service-about {
    width: 100%;
  }
}

.section-service-box .service-about span {
  font-size: 1.6rem;
  font-weight: bolder;
}

@media only screen and (max-width: 991px) {
  .section-service-box .service-about span {
    font-size: 1.1rem;
    line-height: 1.5;
  }
}

.section-service-box .service-about p {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 0.9rem;
  line-height: 1.5;
}

@media only screen and (max-width: 991px) {
  .section-service-box .service-about p {
    margin-top: 0.5rem;
  }
}

.section-service-box .service-about a {
  text-decoration: none;
  color: black;
  border-bottom: 2px solid #ff6f24;
}

.section-service-box .service-image {
  width: 50%;
  height: 100%;
}

@media only screen and (max-width: 991px) {
  .section-service-box .service-image {
    padding-right: 1px;
  }
}

@media only screen and (max-width: 767px) {
  .section-service-box .service-image {
    width: 100%;
    padding-left: 0;
  }
}

.section-service-box .service-image img {
  width: 100%;
  padding-left: 0;
}

@media only screen and (max-width: 991px) {
  .section-service-box .service-image img {
    padding-right: 0;
  }
}

@media only screen and (max-width: 767px) {
  .section-service-box .service-image img {
    width: 100%;
  }
}

.section-title {
  text-align: center;
  font-weight: bolder;
  font-size: 2.2rem;
  text-transform: uppercase;
}

@media only screen and (max-width: 767px) {
  .section-title {
    font-size: 1.4rem;
  }
}

.section-news {
  width: 100%;
  background-image: url("../images/bg-blog.png");
  margin-top: 5rem;
}

@media only screen and (max-width: 991px) {
  .section-news {
    margin-top: 2rem;
  }
}

.section-news .padding-content {
  padding-top: 50px;
  padding-bottom: 50px;
}

@media only screen and (max-width: 1200px) {
  .section-news .padding-content {
    padding: 0;
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.section-news .section-title {
  color: #fff;
}

.section-news .news-box {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 2px;
}

@media only screen and (max-width: 991px) {
  .section-news .news-box {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 575px) {
  .section-news .news-box {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}

.section-news .news-box .news-item {
  max-width: 100%;
  max-height: 100%;
  position: relative;
}

.section-news .news-box .news-item img {
  width: 100%;
  border-left: 1px solid white;
  border-right: 1px solid white;
}

@media only screen and (max-width: 575px) {
  .section-news .news-box .news-item img {
    border: 1px solid #fff;
  }
}

.section-news .news-box .news-item .news-info {
  position: absolute;
  bottom: 0;
  padding: 15px;
  padding-bottom: 40px;
}

.section-news .news-box .news-item .news-info p {
  line-height: 1.3;
  font-weight: bolder;
}

.section-news .news-box .news-item .news-info a {
  color: white;
  text-decoration: none;
  font-weight: bolder;
  line-height: 1.5;
  margin-bottom: 10px;
  position: relative;
  width: 100%;
  text-overflow: ellipsis;
}

.section-gallery {
  width: 100%;
}

.section-gallery .slick-button {
  border-radius: unset;
}

.section-gallery .slick-track {
  height: 500px;
}

.section-gallery .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  width: 0px;
  margin-top: 1rem;
}

@media only screen and (max-width: 767px) {
  .section-gallery .slick-dots {
    margin-top: 0.5rem;
  }
}

.section-gallery .slick-dots li {
  background-color: gray;
  padding: 5px 10px 5px;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-gallery .slick-dots button {
  font-size: 0;
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  border: 1px solid #fff;
  background-color: gray;
}

.section-gallery .slick-dots .slick-active button {
  background-color: #fff;
}

.section-gallery .gallery-slide {
  padding-left: 100px;
  padding-right: 100px;
  margin-top: 2rem;
}

@media only screen and (max-width: 1200px) {
  .section-gallery .gallery-slide {
    padding-left: 85px;
    padding-right: 85px;
  }
}

@media only screen and (max-width: 991px) {
  .section-gallery .gallery-slide {
    padding: 0;
  }
}

.section-gallery .gallery-slide:active {
  cursor: -webkit-grab;
  cursor: grab;
}

.section-gallery .gallery-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-gallery .gallery-item img {
  width: 280px;
  margin: 0 auto;
  height: 420px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media only screen and (max-width: 1200px) {
  .section-gallery .gallery-item img {
    width: 370px;
    height: 100%;
  }
}

@media only screen and (max-width: 991px) {
  .section-gallery .gallery-item img {
    width: 350px;
  }
}

@media only screen and (max-width: 767px) {
  .section-gallery .gallery-item img {
    width: 400px;
    height: 100%;
  }
}

.section-gallery .gallery-item p {
  padding: 60px 30px;
  position: absolute;
  bottom: 0;
  color: #fff;
  font-weight: bolder;
  font-size: 1.2rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media only screen and (max-width: 1200px) {
  .section-gallery .gallery-item p {
    padding: 10px 25px;
  }
}

@media only screen and (max-width: 991px) {
  .section-gallery .gallery-item p {
    padding: 15px 25px;
  }
}

@media only screen and (max-width: 767px) {
  .section-gallery .gallery-item p {
    padding: 15px 70px;
  }
}

@media only screen and (max-width: 575px) {
  .section-gallery .gallery-item p {
    padding: 15px 60px;
  }
}

@media only screen and (max-width: 480px) {
  .section-gallery .gallery-item p {
    padding: 15px 30px;
  }
}

.section-gallery .slick-center img {
  width: 310px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
  height: 480px;
}

.section-gallery .slick-center p {
  padding: 30px 30px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.section-gallery .slick-prev {
  margin-left: 2rem;
}

@media only screen and (max-width: 1200px) {
  .section-gallery .slick-prev {
    margin-left: 0;
  }
}

.section-gallery .slick-next {
  margin-right: 2rem;
}

@media only screen and (max-width: 1200px) {
  .section-gallery .slick-next {
    margin-right: 0;
  }
}

footer {
  width: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url("../images/footer-bg.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../images/footer-bg.jpg");
  background-size: 100%;
}

footer .footer-title {
  color: white;
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 1.3rem;
  margin-bottom: 29px;
}

footer .footer-title::after {
  content: "";
  display: block;
  border-bottom: 3.5px solid #ff6f24;
  margin-top: 0.5rem;
  position: relative;
  width: 100px;
}

footer .footer-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 33.33333333% 25% 25% 16.66666667%;
      grid-template-columns: 33.33333333% 25% 25% 16.66666667%;
  padding: 60px 0px 50px;
}

@media only screen and (max-width: 991px) {
  footer .footer-content {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

footer .footer-content .content-item {
  padding-left: 20px;
  padding-right: 20px;
  font-size: 0.9rem;
}

@media only screen and (max-width: 991px) {
  footer .footer-content .content-item {
    margin-top: 1rem;
  }
  footer .footer-content .content-item:first-child {
    grid-column: 1 / -1;
  }
  footer .footer-content .content-item:nth-child(2) {
    grid-column: 1 / -1;
  }
  footer .footer-content .content-item img {
    margin: 0 auto;
    display: block;
  }
}

@media only screen and (max-width: 767px) {
  footer .footer-content .content-item {
    padding-left: 5px;
    padding-right: 5px;
  }
}

footer .footer-content .content-item a {
  text-decoration: none;
}

footer .footer-content .content-item .footer-contact {
  line-height: 1.5;
}

footer .footer-content .content-item .footer-contact .contact-item {
  margin-top: 0.8rem;
}

footer .footer-content .content-item .footer-link {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

footer .footer-content .content-item .footer-link a {
  line-height: 2.6;
  font-weight: lighter;
}

footer .footer-content .content-item .footer-link a:hover {
  color: #ff6f24;
}

footer .footer-content .content-item .footer-link .link-router:not(:first-child) {
  margin-left: 2rem;
}

@media only screen and (max-width: 1200px) {
  footer .footer-content .content-item .footer-link .link-router:not(:first-child) {
    margin-left: 0.8rem;
  }
}

footer .footer-content .content-item .tag {
  line-height: 2.5;
}

@media only screen and (max-width: 991px) {
  footer .footer-content .content-item .tag {
    line-height: unset;
  }
}

footer .footer-content .content-item .tag a {
  border: 1px solid white;
  padding: 0px 10px;
  font-size: 0.7rem;
  display: inline-block;
}

footer .footer-content .content-item .tag a:hover {
  background-color: #ff6f24;
  color: black;
}

footer .footer-content .content-item .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .footer-content .content-item .social li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: black;
  padding: 8px 0;
  background-color: #ff6f24;
  border-radius: 50%;
  width: 32px;
  margin-left: 0.5rem;
}

@media only screen and (max-width: 1200px) {
  footer .footer-content .content-item .social li a {
    margin-left: 0;
  }
}

@media only screen and (max-width: 991px) {
  footer .footer-content .content-item .social li a {
    margin-left: 1rem;
  }
}

@media only screen and (max-width: 767px) {
  footer .footer-content .content-item .social li a {
    margin-left: 0.4rem;
  }
}

footer .car-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

@media only screen and (max-width: 991px) {
  footer .car-content {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}

footer .car-content .car {
  margin-top: 2rem;
}

footer .car-content .car ul li a {
  width: 100%;
  display: block;
  line-height: 2.3;
  color: white;
  font-size: 1rem;
  text-decoration: none;
}

footer .car-content .car ul li a:hover {
  color: #ff6f24;
}

footer .bot-footer {
  border-top: 1px solid gray;
  text-align: center;
  padding: 20px 0;
  margin-top: 3rem;
}

.about-bg {
  width: 100%;
  padding-top: 80px;
  padding-bottom: 80px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(35, 36, 37, 0.8)), to(rgba(35, 36, 37, 0.8))), url("../images/0.jpeg");
  background-image: linear-gradient(0deg, rgba(35, 36, 37, 0.8), rgba(35, 36, 37, 0.8)), url("../images/0.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media only screen and (max-width: 991px) {
  .about-bg {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.about-bg .banner-nav {
  position: relative;
  padding: 0;
}

@media only screen and (max-width: 991px) {
  .about-bg .banner-nav {
    background-color: unset;
  }
}
/*# sourceMappingURL=style.css.map */