$MobileXS: 425px;
$MobileS: 480px;
$MobileM: 575px;
$MobileL: 767px;
$Tablet: 991px;
$Laptop: 1200px;
$LaptopL: 1500px;

// media queries
@mixin Responsive($canvas) {
  @if $canvas == X32 {
    @media only screen and (max-width: $MobileXS) {
      @content;
    }
  } @else if $canvas == X48 {
    @media only screen and (max-width: $MobileS) {
      @content;
    }
  } @else if $canvas == XS {
    @media only screen and (max-width: $MobileM) {
      @content;
    }
  } @else if $canvas == SM {
    @media only screen and (max-width: $MobileL) {
      @content;
    }
  } @else if $canvas == MD {
    @media only screen and (max-width: $Tablet) {
      @content;
    }
  } @else if $canvas == LG {
    @media only screen and (max-width: $Laptop) {
      @content;
    }
  } @else if $canvas == XL {
    @media only screen and (max-width: $LaptopL) {
      @content;
    }
  }
}
